body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa; 
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto; 
    padding: 20px; 
  }
  
  .navbar {
    background-color: #343a40;
    margin-bottom: 20px;
  }
  
  .navbar-brand {
      margin-right: auto;
    font-size: 20px;
  }
  
  .navbar-nav .nav-link {
    color: #ffffff; 
    font-size: 16px;
  }
  
  .navbar-nav .nav-link:hover {
    color: #ffffff;
  }

  .carousel {
    max-width: 1100px; 
    margin: auto; 
  }
  
  .carousel-item img {
    width: 100%; 
    height: auto; 
    object-fit: contain; 
  }
h1{
  color:black;
  text-align: center;
  margin: 35px;
  
}
h2{
  color: black;
  text-align: center;
  margin: -39px;
}
h3{
  color: black;
  margin-top: 90px;
  margin-left: 50px;
  font-weight: bold;
}
p{
  color: black;
  margin-left: 10px;
  padding: 20px 12px;
  background-color:white;
  border-radius: 20px;
}
.sbsede{
  list-style: none;
}
.card {
  margin-bottom: 30px;
}

.card-img-top {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
}