body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa; 
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto; 
    padding: 20px; 
  }
  
  .navbar {
    background-color: #343a40;
    margin-bottom: 20px;
  }
  
  .navbar-brand {
      margin-right: auto;
    font-size: 20px;
  }
  
  .navbar-nav .nav-link {
    color: #ffffff; 
    font-size: 16px;
  }
  
  .navbar-nav .nav-link:hover {
    color: #ffffff;
  }

  .carousel {
    max-width: 900px; 
    margin: auto; 
  }
  
  .carousel-item img {
    width: 100%; 
    height: auto; 
    object-fit: contain; 
  }
  