{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Registro</title>
    <link rel="stylesheet" href="{% static 'CSS/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'CSS/style.css' %}">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'index' %}">
                <img src="{% static 'img/moai.png' %}" width="50" height="35" class="d-inline-block align-top" alt="Logo"> J&T GamingWelt
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active me-2" aria-current="page" href="{% url 'index' %}">Inicio</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Categorias </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" href="{% url 'tarjvideo' %}">Tarjetas de video</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{% url 'monitores' %}">Monitores</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#perifericos">Periféricos</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#sillas-gamer">Sillas gamer</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active me-2" href="{% url 'sbnosotros' %}">Sobre nosotros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active me-2" href="{% url 'contacto' %}">Contacto</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active me-2" href="{% url 'login' %}">Iniciar Sesión</a>
                    </li>
                    <li>
                        <a class="nav-link active me-2" href="{% url 'Tienda' %}">Comprar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" id="carrito-img" data-bs-toggle="offcanvas" data-bs-target="#offcanvas" aria-controls="offcanvas">
                            <img src="{% static 'img/carrito.png' %}" width="37" height="37" alt="Carrito de compras">
                        </a>
                    </li>
                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit"><i class="bi bi-search"></i></button>
                </form>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <form action="" id="formulario" class="col-6 text-center mx-auto shadow-lg mt-5">
                <div class="my-3">
                    <h4>Formulario de registro</h4>
                </div>
                <div class="form-floating w-50 mx-auto mb-3">
                    <input type="text" class="form-control" id="txtRut" name="txtRut" placeholder="Ingrese su rut"
                        required>
                    <label for="txtRut">Rut</label>
                </div>
                <div class="form-floating w-50 mx-auto mb-3">
                    <input type="text" class="form-control" id="txtNombre" name="txtNombre" placeholder="Nombre"
                        required>
                    <label for="txtNombre">Nombre</label>
                </div>
                <div class="row mx-auto">
                    <div class="col mb-3">
                        <div class="form-floating w-50 ms-auto">
                            <input type="text" class="form-control" id="txtAppaterno" name="txtAppaterno"
                                placeholder="Apellido paterno" required>
                            <label for="txtAppaterno">Apellido paterno</label>
                        </div>
                    </div>
                    <div class="col mb-3">
                        <div class="form-floating w-50">
                            <input type="text" class="form-control" id="txtApmaterno" name="txtApmaterno"
                                placeholder="Apellido materno" required>
                            <label for="txtApmaterno">Apellido materno</label>
                        </div>
                    </div>
                </div>
                <div class="form-floating w-50 mx-auto mb-3">
                    <input type="email" class="form-control" id="email" name="email" placeholder="Correo" required>
                    <label for="txtMail">Correo</label>
                </div>
                <div class="form-floating w-50 mx-auto mb-3">
                    <input type="number" class="form-control" id="txtTelefono" name="txtTelefono" placeholder="Telefono"
                        required>
                    <label for="txtTelefono">Telefono</label>
                </div>
                <div class="form-floating w-50 mx-auto mb-3">
                    <input type="text" class="form-control" id="txtDireccion" name="txtDireccion" placeholder="Dirección"
                        required>
                    <label for="txtDireccion">Dirección</label>
                </div>
                <div id="check"></div>
                <div class="w-50 mx-auto mb-3">
                    <button type="button" id="btnEnviar" class="btn btn-outline-primary">Limpiar formulario</button>
                    <button type="button" id="btnGenerar" class="btn btn-outline-success">Registrar</button>
                </div>
            </form>
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5 text-center mx-auto" id="exampleModalLabel">Registro completo!</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="w-50 text-center mx-auto" id="res"></div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="container">
            <p>&copy; 2024 J&T GamingWelt</p>
        </div>
    </footer>
<script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.js' %}"></script>
<script src="{% static 'js/funciones.js' %}"></script>
</body>

</html>
