{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre nosotros</title>
    <link rel="stylesheet" href="{% static 'CSS/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'CSS/style.css' %}">
  </head>
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'index' %}">
              <img src="{% static 'img/moai.png' %}" width="50" height="35" class="d-inline-block align-top" alt="Logo"> J&T GamingWelt
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-center" id="navbarNavDropdown">
              <ul class="navbar-nav">
                  <li class="nav-item">
                      <a class="nav-link active me-2" aria-current="page" href="{% url 'index' %}">Inicio</a>
                  </li>
                  <li>
                      <a class="nav-link active me-2" href="{% url 'Tienda' %}">Catalogo</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link active me-2" href="{% url 'sbnosotros' %}">Sobre nosotros</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link active me-2" href="{% url 'contacto' %}">Contacto</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link active me-2" href="{% url 'login' %}">Iniciar Sesión</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#" id="carrito-img" data-bs-toggle="offcanvas" data-bs-target="#offcanvas" aria-controls="offcanvas">
                          <img src="{% static 'img/carrito.png' %}" width="37" height="37" alt="Carrito de compras">
                      </a>
                  </li>
              </ul>
              <form class="d-flex">
                  <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
                  <button class="btn btn-outline-success" type="submit"><i class="bi bi-search"></i></button>
              </form>
          </div>
      </div>
  </nav>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvas" aria-labelledby="offcanvasLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasLabel">Carrito de compras</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <p>Tu carrito esta vacio</p>
      </div>
    </div>
  </header>
  <body>
    <div class="row justify-content-center mt-5">
      <div class="col-md-12 text-center">
        <h1>J&T</h1>
        <h2>Gamingwelt</h2>
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div class="lorem-borde">
                <h3 class="text-left">Acerca de nosotros</h3>
                <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et ratione accusamus consectetur nostrum dolorum mollitia natus fugiat laborum illo ipsam, perferendis corporis, illum libero facere, est quod. Hic, dolorem incidunt! <br>
                  <br> Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores consequuntur nulla cum excepturi reprehenderit provident ea natus magnam, aliquam dolorem, quisquam aliquid amet nihil, eos veritatis? Odio pariatur quaerat odit!
                </p>
              </div>
            </div>
            <div class="col-md-6">
              <h3>Unica sede de J&T</h3>
              <ul class="sbsede">
                <li>J&T GAMINGWELT S.A</li>
                <li>Matilde Salamanca 633-699</li>
                <li>office@j&tgamingwelt.com</li>
                <li>
                  <img src="https://www.google.com/maps/d/thumbnail?mid=1rryIcuVsmE05onciKauO-fWbeW8&hl=en_US" alt="" width="300" height="300" class="img-borde">
                </li>
              </ul>
            </div>
          </div>
        </div>
        <footer>
          <div class="container">
              <p>&copy; 2024 J&T GamingWelt</p>
          </div>
      </footer>
<script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.js' %}"></script>
<script src="{% static 'js/funciones.js' %}"></script>
  </body>
</html>